.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 80px 10%;
}

/* Card container */
.mywork-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* Title under each image */
.mywork-card h2 {
  font-size: 18px;
  font-weight: 700;

  background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin: 0;
  text-align: center;
}

/* Grid */
.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

/* Image Styling */
.mywork-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.mywork-container img:hover {
  transform: scale(1.1);
  border: 4px solid #ff00ff;
}

/* Show More Button */
.mywork-showmore {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.6s;
}

.mywork-showmore img {
  width: 25px;
}

.mywork-showmore:hover {
  gap: 30px;
}

/* Responsive */
@media (max-width: 768px) {
  .mywork {
    gap: 50px;
    margin: 50px 6%;
    align-items: start;
  }

  .mywork-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .mywork-showmore {
    padding: 15px 30px;
    font-size: 16px;
    margin: 10px auto;
  }

  .mywork-showmore:hover {
    gap: 20px;
  }
}
